/******************************/
/* HEADER */
/******************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bdcbdd;

  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 5rem;
}

/******************************/
/* NAVIGATION */
/******************************/

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
  padding-bottom: 0.35rem;
  border-bottom: 2px solid transparent;
}

.main-nav-link:hover,
.main-nav-link:active {
  border-bottom: 2px solid #5a7eaa;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #fff;
  background-color: #5a7eaa;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  color: #5a7eaa;
  background-color: #fff;
}

/* MOBILE NAV */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAV */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/******************************/
/* HERO SECTION */
/******************************/
.section-hero {
  background-color: #bdcbdd;

  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 1.85rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
  color: #323232;
}

.hero-img-box {
  position: relative;
  height: 100%;
  margin-bottom: 6rem;
}

.hero-img {
  width: 100%;
}

.hero-img-1 {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 250px;
  height: 170px;
  color: #323232;
  background-color: #fff;
  border: 7px solid #5a7eaa;
  border-bottom-left-radius: 45px;
  border-top-right-radius: 45px;
  z-index: 20;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.hero1 {
  width: 100%;
  object-fit: cover;
}

.hero-img-2 {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 310px;
  height: 200px;
  color: #323232;
  background-color: #fff;
  border: 7px solid #5a7eaa;
  border-bottom-left-radius: 45px;
  border-top-right-radius: 45px;
  z-index: 25;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.hero2 {
  width: 100%;
  object-fit: cover;
}

.hero-img-3 {
  position: absolute;
  top: 60%;
  left: 0%;
  width: 380px;
  height: 250px;
  color: #323232;
  background-color: #fff;
  border: 7px solid #5a7eaa;
  border-bottom-left-radius: 45px;
  border-top-right-radius: 45px;
  z-index: 30;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.hero3 {
  width: 100%;
  object-fit: cover;
}

/******************************/
/* WHAT I DO SECTION */
/******************************/

.section-what {
  padding: 6.6rem 0;
  background-color: #fdf2e9;
}

.what-title {
  font-size: 4rem;
  font-weight: 600;
  color: #5a7eaa;
  margin-bottom: 1.2rem;
}

.what-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.what-img {
  width: 100%;

  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

.what-img-box-lay {
  width: 100%;
  position: relative;
  padding: 6rem;
}

.what-img-lay1 {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

.what-img-lay2 {
  visibility: visible;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

/******************************/
/* TOOLS SECTION */
/******************************/

.section-tools {
  padding: 4.8rem 0 3.2rem 0;
}

.tool {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  background-color: #bdcbdd;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
  transition: all 0.4s;
}

/* .tool:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.04);
} */

.tool-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.tool-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tool-title {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #333;
  font-weight: 700;
  margin-bottom: 3.2rem;
  text-align: center;
}

.tool-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tool-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 1.6rem;
}

.tool-icon {
  color: #5a7eaa;
  height: 7.4rem;
  width: 7.4rem;
}

.tool-img {
  width: 100%;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/******************************/
/* PLANNING SECTION */
/******************************/

.plan {
  border-bottom-left-radius: 45px;
  border-top-right-radius: 45px;
  width: 100%;
}

.plan--energy {
  background-color: #fdf2e9;
  padding: 4.6rem;
  border: 5px solid #5a7eaa;
}

.plan--drawing {
  background-color: #fdf2e9;
  padding: 4.6rem;
  border: 5px solid #5a7eaa;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-title {
  color: #5a7eaa;
  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 2.5rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #323232;
}

/******************************/
/* EXPERIENCE SECTION */
/******************************/

.exper-entry {
  font-size: 1.75rem;
  line-height: 1.25;
  color: #333;
  font-weight: 400;
  margin-bottom: 1.6rem;
}

.exper-entry-web {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #333;
  font-weight: 400;
  margin-bottom: 0.85rem;
}

.exper-entry-web-subhead {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #333;
  font-weight: 400;
  margin-bottom: 0;
}

.section-experience {
  padding: 4.8rem 0 12.8rem 0;
}

.exper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /*background-color: #e67e22;*/
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-bottom-left-radius: 45px;
  border-top-right-radius: 45px;
  background-color: #bdcbdd;

  /* background-image: linear-gradient(to right bottom, #5a7eaa, #bdcbdd); */
  overflow: hidden;
}

.exper-text-box {
  padding: 4rem 5rem;
  color: #45260a;
}

.exper-text-box-web {
  padding: 2.8rem 5rem 2.8rem 2.2rem;
  color: #45260a;
}

.exper .heading-secondary {
  font-size: 2rem;
  color: #323232;
  margin-bottom: 0.75rem;
}

.exper-text {
  color: #323232;
  font-size: 1.6rem;
  line-height: 1.8;
}

/******************************/
/* FOOTER */
/******************************/

.footer {
  padding: 8.8rem 0;
  border-top: 1px solid #eee;
  background-color: #fdf2e9;
}

.grid--footer {
  grid-template-columns: 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
  text-align: center;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1.75;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
